{% extends 'base.html.twig' %}

{% block title %}Autoři{% endblock %}

{% block body %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Název autora</th>
            <th scope="col">Počet knih</th>
        </tr>
        </thead>
        <tbody>
            {% for author in authors %}
                <tr>
                    <td><a href="{{ path('books', {filter: "true", author:author.id}) }}">{{ author.lastname }}</td>
                    <td>({{ author.books|length }})</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
