{% extends 'base.html.twig' %}

{% block title %}Hello AuthorController!{% endblock %}

{% block body %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Název autora</th>
            <th scope="col">Počet knih</th>
        </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.lastname }}</td>
                <td>(8)</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
