{% extends 'base.html.twig' %}

{% block title %}Hello GenreController!{% endblock %}

{% block body %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Název žánru</th>
            <th scope="col">Počet knih</th>
        </tr>
        </thead>
        <tbody>
        {% for genre in genres %}
            <tr>
                <td>{{ genre.name }}</td>
                <td>(8)</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
