{% extends 'base.html.twig' %}

{% block title %}Žánry{% endblock %}

{% block body %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Název žánru</th>
            <th scope="col">Počet knih</th>
        </tr>
        </thead>
        <tbody>
            {% for genre in genres %}
                <tr>
                    <td><a href="{{ path('books', {filter: "true", genre:genre.id}) }}">{{ genre.name }}</a></td>
                    <td>({{ genre.books|length }})</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
