{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" style="width: 200px">Název knihy</th>
                <th scope="col">Popis</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <th scope="row">{{ book.id }}</th>
                    <td><a href="{{ path('show_book', {id: book.id}) }}">{{ book.name }}</a></td>
                    <td>{{ book.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
